[Unit]
Description=Start Face Detection Service
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/original_pi_face_detection.py
User=pi

[Install]
WantedBy=multi-user.target